#header {
    background-color: lightblue;
    text-align: center;
}

#about-me {
    background-color: lightgreen;
}

#vcard {
    background-color: lightyellow;
}

#link {
    background-color: lightgray;
}

#images {
    background-color: aliceblue;
}

#table {
    background-color: lavender;
}

td, th {
    background-color: whitesmoke;
}

#register {
    background-color: lightcoral;
}

#ytvid {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

#ytvid iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}