body {
    line-height: 1.4em;
}

#stuff {
    position: relative;
    width: 650px;
    max-width: 100%;
    margin: 0px auto 60px;
    top: 70px;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: lightblue;
    text-align: center;
    z-index: 99;
}

#header>h1 {
    margin-bottom: 0px;
    padding-top: 10px;
}

#about-me {
    background-color: lightgreen;
    padding: 5px 20px;
    margin-top: 15px;
    border-bottom: 1px solid black;
}

#about-me p {
    background-color: yellow;
}

#about-me:first-letter {
    font-size: 200%;
}

#vcard {
    background-color: lightyellow;
    background-image: url("images/baki.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}

#vcard>div {
    position: relative;
    left: 10px;
}

#link {
    background-color: lightgray;
}

#link a {
    margin: 5px;
}

#images {
    background-color: aliceblue;
}

img {
    width: 200px;
    max-width: 100%;
}

#table {
    background-color: lavender;
}

td, th {
    background-color: whitesmoke;
}

#register {
    background-color: lightcoral;
    max-height: 200px;
    overflow: hidden visible;
    margin-top: 15px;
}

#ytvid {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

#ytvid iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

#footer {
    top: 10px;
    background-color: aliceblue;
}